<section class="comments" id="comments">
    <!-- <h2>Comments</h2> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.10.0/js/md5.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
    <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
    <hr/>
    <div id="gitalk-container"></div>
    <script>
        var gitalk = new Gitalk({
            clientID: '32128e45765077b3152c',
            clientSecret: '04b40e6a8191416fb3bcf87adb2cf7e2cb2be7d9',
            repo: 'comments-blog.laolilin.com',
            owner: 'laolilin',
            admin: ['laolilin','lll9p'],
            id: md5(location.pathname),      // Ensure uniqueness and length less than 50
            distractionFreeMode: false,  // Facebook-like distraction free mode
            createIssueManually: true,
        })

        gitalk.render('gitalk-container')
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://github.com/gitalk/gitalk" target="_blank">Comment system powered by
            gitalk.</a></noscript>
</section>
